.questionRow {
    display: flex;
    align-items: center;
}

.questionText {
    width: 80%;
    margin: .4rem 0;
    padding: .2rem;
    /* border-bottom: solid lightgray 0.1px; */
}

.questionContainer {
    max-width: 300px;
    padding: 0 0.5rem;
    margin: 0.5rem;
    border: solid lightgray 0.1px;
}