.box {
    width: 400px;
    height: 200px;
    border: solid 0.1px;
    position: relative;
    padding: 0;
}

.row {
    display: flex;
}

.factor {
    background-color: deepskyblue;
    width: fit-content;
    position: static;
    margin: 0;
}

.factor.absolute {
    position: absolute;
}