.editableFactor {
    background-color: orange;
    border: none;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    position: relative;
    padding: .8em;
    margin: .6rem .5rem;
    cursor: pointer;
}

.factorDelete {
    --fontSize: 12px;
    border-radius: 100%;
    background-color: black;
    height: 21px;
    width: 21px;
    border: none;
    display: inline-block;
    position: absolute;
    top: -10px;
    right: -12px;
    margin: 0;
    z-index: 1;
}

.factorDelete span {
    font-size: 12px;
    position: absolute;
    top: 0px;
    left: 6px;
}

.editableFactor span {
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.editableFactor input {
    border: 0px;
    text-decoration: none;
    outline: none;
    height: 2em;
    border-radius: 5px;
    width: 6em;
}