.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    /* border-bottom: 1px dotted black; */
  }
  
.tooltip .tooltiptext {
    /* visibility: hidden; */
    opacity: 0;
    width: 120px;
    background-color: white;
    color: gray;
    text-align: center;
    border: dotted lightgray 1px;
    border-radius: 6px;
    padding: 5px;
    /* transition-delay: 300ms; */
    font-size: 12px;
    text-align: left;

    /* animation */
    transition: 100ms ease-in-out;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    /* visibility: visible; */
    opacity: 100;
    transition: 500ms ease-in-out;
    transition-delay: 400ms;
}