.linkButton {
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    padding: .6em;
    margin: 0;
    border: solid gray 1px;
    border-radius: 5px;
    background-color: transparent;
    text-decoration: none;
    color: black;
}

.linkButton:hover {
    background-color: gray;
    color: white;
}

.linkButton.disable {
    cursor: default;
    border: solid lightgray 1px;
    background-color: lightgray;
    text-decoration: none;
    color: gray;
}

.linkButton.disable:hover {
    color: gray;
    font-weight: 300;
}