.row {
    display: flex;
    width: 600px;
}

.column {
    padding: 0;
    border: solid 0.1px;
    width: 50%;
}

.header {
    font-weight: bold;
    margin: 0.4rem;
}

.factor {
    background-color: aquamarine;
    border: solid 0.1px;
    position: relative;
    padding: 0;
    margin: 1rem .5rem;
}

.factorDelete {
    --fontSize: 16px;
    border-radius: 100%;
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: var(--fontSize);
    position: absolute;
    top: calc(var(--fontSize) * -0.5);
    right: calc(var(--fontSize) * -0.5);
    margin: 0;
    z-index: 1;
}

.factorTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3em .8em;
    height: 100%;
}

.factorEditInput {
    /* background-color: transparent; */
    border: 0px;
    text-decoration: none;
}

.factorContainer {
    flex-wrap: wrap;
    height: 80%;
    border: solid 0.1px;
}

.newFactorInput {
    padding: .2rem;
}

.newFactorInputContainer {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row.space-evenly {
    justify-content: space-evenly;
}

.row.center {
    justify-content: center;
}

button {
    margin: 0.4rem;
}